.what {
    margin-top: 120px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.what__info {
    width: 650px;
}

.what__title {
    font-family: "Mulish";
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FD695A;
    margin-bottom: 8px;
}

.what__heading {
    text-transform: capitalize;
    font-family: "Mulish";
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 31px;
    color: #3D3D3F;
}

.what__text {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 600;
    color: #515151;
    margin-bottom: 25px;
}

.what__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 10px;
}

.what__item {
    margin-top: 10px;
}

.what__img {
    width: 71px;
    height: 71px;
    margin-bottom: 16px;
}

.what__h3 {
    font-family: "Mulish";
    font-size: 20px;
    font-weight: 700;
    color: #37383D;
    margin-bottom: 8px;
}

.what__p {
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
    color: #747474;
    width: 229px;
}

.what__link {
    color: #3D3D3F;
    font-family: "DM Sans";
    font-size: 12px;
    font-weight: 500;
}