.header {
    margin-top: 10px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav__list {
    display: flex;
    list-style-type: none;
    gap: 50px;
}